<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="/bootstrap.css" rel="stylesheet">
</head>
<ul class="nav nav-pills nav-justified">
    <!--<li class="nav-item">-->
    <!--<a class="nav-link active" th:href="@{/loginIndex}">首页</a>-->
    <!--</li>-->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/getAllPerson}">用户列表</a>
    </li>
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" th:href="@{/loginIndex}">测试</a>-->
    <!--</li>-->
    <li class="nav-item">
        <a class="nav-link disabled" th:href="@{/logoAll}" tabindex="-1" aria-disabled="true">登录日志</a>
    </li>
</ul>
<body>

</body>
</html>